.contact__body {
  background-color: #191919;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.contact__alert {
  position: absolute !important;
  width: 80%;
  top: 30px;
  left: 50;
}

.contact {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 85px;
}

.contact__left > h1 {
  color: white;
  font-weight: 800;
  margin-bottom: 10px;
}

.contact__left > p {
  color: white;
  font-size: 18px;
}

.contact__left > :nth-child(2) {
  margin: 0;
}

.contact__send {
  display: flex;
}

.name__input {
  margin-right: 45px;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
}

.email__input {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
}

textarea {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 15px;
  color: white;
  width: 100%;
  margin-top: 30px !important;
  height: 165px;
  border-radius: 6px;
  display: block;
}

.contact__buttom {
  display: flex;
  justify-content: end;
}

.contact__buttom input {
  border-radius: 6px;
  padding: 8px 17px;
  color: white;
  border: 1px solid #b1b4c1;
  background-color: transparent;
  margin-top: 25px;
  font-weight: 550;
}

.contact__buttom input:hover {
  background-color: #f9004d;
}

@media (max-width: 1165px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }


  .contact__buttom {
    margin-top: 25px;
  }
  .contact__left {
    text-align: center;
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .contact__send {
    display: block;
  }
  .contact__send input {
    width: 100%;
    margin: 0;
  }

  .contact__send input:nth-child(1) {
    margin-bottom: 25px;
  }

  .contact__right {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .contact__right {
    width: 300px;
  }
}

@media (max-width: 300px) {
  .contact__right {
    width: 200px;
  }
}
