.header__body {
  background-color: black;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  width: 70%;
}
.header__toptext {
  font-weight: 400;
  color: gray;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.2vw;
}

.header__text {
  color: white;
  font-weight: 900;
  font-size: 5vw;
  margin: 0;
  line-height: 6vw;
}


.header__textmoution {
  color: #f9004d;
  font-weight: 900;
  font-size: 5vw;
  margin: 0;
  line-height: 4vw; 
}

.header__bottomtext {
  color: white;
  font-weight: 900;
  font-size: 4vw;
  margin: 0;
}
