.header__body {
  background-color: black;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.header__content {
  width: 90%;
}
.header__toptext {
  font-weight: 400;
  color: gray;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.2vw;
}

.header__text {
  color: white;
  font-weight: 900;
  font-size: 5vw;
  margin: 0;
  line-height: 6vw;
}

.header__textmoution {
  color: #f9004d;
  font-weight: 900;
  font-size: 5vw;
  margin: 0;
  line-height: 4vw;
}

.header__bottomtext {
  color: white;
  font-weight: 900;
  font-size: 4vw;
  margin: 0;
}

@media (max-width: 700px) {
  .header__toptext {
    text-align: center;
    font-size: 20px;
    margin: 0;
    
  }

  .header__text {
    line-height: 55px;
  }
  .header__text {
    text-align: center;
    font-size: 40px;
  }

  .header__textmoution {
    text-align: center;
    font-size: 40px;
  }

  .header__bottomtext {
    text-align: center;
    font-size: 40px;
  }

  .header__body {
    height: 600px;
  }
}

@media (max-width: 450px) {
  .header__toptext {
    text-align: center;
    font-size: 12px;
    margin: 0;
    
  }

  .header__text {
    line-height: 50px;
  }
  .header__text {
    text-align: center;
    font-size: 35px;
  }

  .header__textmoution {
    text-align: center;
    font-size: 35px;
  }

  .header__bottomtext {
    text-align: center;
    font-size: 35px;
  }

  .header__body {
    height: 600px;
  }
}