.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  backdrop-filter: blur(3px);
  width: 100%;
  z-index: 99;
  font-family: "Poppins", sans-serif;
}
.header__logo {
  color: white;
  font-weight: 550;
  margin-right: 10px;
}

.header {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navbar__a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 550;
  margin: 0 15px;
  position: relative;
}

.header__menu > ul > li {
  display: flex;
  align-items: center;
}
.header__menu > ul > li > a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.navbar__a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f9004d;
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
  transition: all 0.3s ease;
}

.navbar__a:hover {
  color: #f9004d;
  font-weight: 550;
}

.navbar__a:hover::before {
  width: 100%;
}

.header__icons > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header__icons > ul > li a {
  margin: 0 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.header__icons > ul > li a:hover {
  color: #f9004d;
}
.header__button {
  border-radius: 6px;
  padding: 8px 12px;
  color: white;
  border: 2px solid #b1b4c1;
  background-color: transparent;
  margin-left: 15px;
  font-weight: 500;
}

.header__button:hover {
  background-color: #f9004d;
  transition: all 0.3s ease;
}

.header__logo__mobile {
  color: white;
  font-weight: 500;
  margin-right: 10px;
}

/* .nav__position {
  position: relative;
  width: 100%;
  height: 100%;
} */
.nav__mobile__none {
  position: absolute;
  top: 0;
  right: -100%;
  transition: all 0.5s linear;
  /* display: none; */
}
.nav__mobile__block {
  /* display: block; */
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  right: 70%;
}
.wrapper__mobile {
  display: flex;
  justify-content: start;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  backdrop-filter: blur(3px);
  width: 80vw;
  z-index: 10;
  right: -100;
  height: 100%;
}

.header__mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.header__left__mobile {
  display: flex;
  align-items: center;
}

.header__right__mobile {
  display: flex;
  flex-direction: column;
}

.header__menu__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__menu__mobile > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  margin-top: 15px;
}

.header__menu__mobile > ul > li {
  font-size: 22px;
  margin-top: 20px;
}

.navbar__a__mobile {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin: 0 5px;
  position: relative;
}

.navbar__a__mobile::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f9004d;
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
  transition: all 0.3s ease;
}

.navbar__a__mobile:hover {
  color: #f9004d;
  font-weight: 500;
}

.navbar__a__mobile:hover::before {
  width: 100%;
}

.header__icons__mobile > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  padding-left: 15px;
}

.header__icons__mobile > ul > li a {
  margin: 0 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.header__icons__mobile > ul > li a:hover {
  color: #f9004d;
}

.nav__button {
  display: none;
  color: white;
  font-size: 20px;
}

.nav__button__active {
  display: none;
}

.nav__cancel__button {
  position: absolute;
  top: 25px;
  right: 25px;
  color: white;
  z-index: 1000;
  font-size: 30px;
  transition-duration: 0.5s;
}

@media (max-width: 1140px) {
  .header__menu {
    display: none;
  }

  .header__button {
    display: none;
  }
  .header__icons {
    display: none;
  }

  .nav__button {
    display: block;
    border: 1px solid white;
    padding: 3px;
    border-radius: 3px;
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .nav__button {
    font-size: 20px;
  }
}

@media (min-width: 1030px) {
  .nav__mobile__block {
    display: none;
  }
  .nav__cancel__button {
    display: none;
  }
}
