.wrapper {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 25px;
  background-color: transparent;
  position: fixed;
  z-index: 99;
}

.header__logo {
  color: white;
  font-weight: 500;
  margin-right: 10px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navbar__a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin: 0 15px;
  position: relative;
}

.navbar__a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f9004d;
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
  transition: all 0.3s ease;
}

.navbar__a:hover {
  color: #f9004d;
  font-weight: 500;
}

.navbar__a:hover::before {
  width: 100%;
}

.header__icons > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header__icons > ul > li a {
  margin: 0 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.header__icons > ul > li a:hover {
  color: #f9004d;
}
.header__button {
  border-radius: 6px;
  padding: 10px 12px;
  color: white;
  border: 2px solid #b1b4c1;
  background-color: transparent;
  margin-left: 15px;
  font-weight: 500;
}

.header__button:hover {
  background-color: #f9004d;
  transition: all 0.3s ease;
}
