.service__body {
  background-color: #101010;
  display: flex;
  justify-content: center;
}

.service {
  width: 80%;
  margin-bottom: 85px;
  margin-top: 85px;
}

.service__text {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.service__text > div > h1 {
  font-weight: 800;
  color: white;
}
.service__text > div > p {
  color: gray;
}

.service__content {
  display: flex;
  justify-content: center;
  flex: 1;
}

.service__card {
  width: 430px;
  height: 283px;
  padding: 25px;
  background-color: #191919;
  color: white;
  margin: 15px;
  border-radius: 10px;
}

.service__card > h2 {
  font-weight: 700;
}

.service__card > p {
  color: gray;
}

.card__icon {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 55px;
  color: #f9004d;
}
