.slide__body {
  background-color: #101010;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.slide {
  width: 90% !important;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.slide__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 430px;
  border: 1px solid white;
  width: 80%;
}

.slide__quote {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 80px;
  color: white;
}



.slide__left p {
  color: white;
}

.slide__right {
  width: 32%;
}
.slide__man p {
  margin: 0;
}
.slide__man {
  margin-top: 25px;
}

.content {
  margin-bottom: 96px;
}
.contenttext {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 38px;
}

.carousel {
  width: 87%;
  background-color: #101010;
  padding: 0;
  position: relative;
}
.carousel-item {
  position: relative;
}

.slide__img {
  top: 14%;
  right: -120px;
  position: absolute;
  height: 335px;
  z-index: 1;
  width: 320px;
}
.slide__back__img {
  position: absolute;
  top: 23%;
  right: -170px;
}

.carousel__text {
  padding-top: 170px;
  padding-left: 64px;
  color: white;
  width: 44%;
}

.carousel__back_text {
  padding-top: 31px;
  padding-left: 64px;
  padding-bottom: 100px;
  color: white;
}

.carousel-control-prev-icon {
  position: absolute;
  left: -80px;
  color: white !important;
}

.carousel-control-next-icon {
  position: absolute;
  right: -75px;
  color: white !important;
}

.carousel-indicators {
  width: 0;
}

@media (max-width: 1100px) {
  .carousel-control-next-icon {
    display: none !important;
  }
  .carousel-control-prev-icon {
    display: none !important;
  }

  .slide__quote {
    display: none;
  }

  .carousel {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
  }

  .slide__img {
    margin: 25px auto;
    position: relative;
    height: 335px;
    width: 330px;
    right: 0;
  }
  .carousel__text {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    padding-bottom: 20px;
  }

  .slide__back__img {
    display: none;
  }

  .carousel__back_text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 445px) {
  .slide__img {
    margin: 25px auto;
    position: relative;
    height: 305px;
    width: 300px;
    right: 0;
  }

  .carousel__text {
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 450px) {
  .slide__img {
    margin: 25px auto;
    position: relative;
    height: 205px;
    width: 200px;
    right: 0;
  }
  .carousel__text {
    font-size: 15px;
    width: 100%;
  }

  .carousel__back_text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .slide__img {
    margin: 25px auto;
    position: relative;
    height: 255px;
    width: 250px;
    right: 0;
  }

  .carousel__back_text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
